.wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-top: 100px;
	align-items: start;
}

@media (width <= 991px) {
	.wrapper {
		grid-template-columns: 1fr;
		gap: 50px;
	}

	.grid {
		width: 50% !important;
		/* grid-auto-rows: 80px; */
		margin: 0 auto;
	}

	.btnGrid {
		flex-direction: column;
	}

	.grid > div {
		aspect-ratio: unset;
	}
}

@media (width <= 679px) {
	.btnGrid {
		flex-direction: column;
	}
}

.btnGrid {
	display: flex;
	gap: 20px;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}

.description {
	color: #271433;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.grid {
	display: grid;
	gap: 10px;
	width: 100%;
}

.title {
	color: #271433;
	font-family: Montserrat;
	font-size: 50px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%; /* 48px */
	margin-bottom: 20px;
}

h2 {
	color: #271433;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 28.8px */
}

.easy {
	grid-template-columns: repeat(3, 1fr);
}
.easy div:nth-child(6),
.easy div:nth-child(10) {
	background-color: #497cff;
}

.medium {
	grid-template-columns: repeat(4, 1fr);
}
.medium div:nth-child(3),
.medium div:nth-child(13) {
	background-color: #497cff;
}

.hard {
	grid-template-columns: repeat(4, 5fr);
}
.hard div:nth-child(4),
.hard div:nth-child(14) {
	background-color: #497cff;
}

.grid > div {
	aspect-ratio: 1/1;
	border-radius: 15px;
	background: #eeeae6;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
}
