button {
	appearance: none;
	border-style: none;
	font-family: inherit;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	font-family: "Roboto";
	padding: 15px 45px;
}

.action {
	background-color: #497cff;
	color: #fff;
	border-radius: 10px;
}

.action:hover {
	background-color: #7fa1f8;
}

.primary {
	background-color: #eeeae6;
	color: #000;
	border-radius: 10px;
}

.primary:hover {
	background-color: #c8c5c2;
}
