:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #130f40;
	color: #dedede;
}

.bold {
	font-weight: 600;
	text-transform: uppercase;
}
.App {
	position: absolute;
	width: 100%;
	height: 100%;
}
.App header {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 8px;
}
.App header > div {
	font-size: 15px;
	width: 324px;
	text-align: center;
	margin: 0 auto;
}
.App footer {
	width: 360px;
	position: relative;
	margin: 0 auto;
	padding: 10px 4px;
	margin-top: 10px;
}
.App footer .score {
	justify-content: center;
	display: flex;
}
.App footer .score div {
	padding: 8px;
}
.App footer .restart {
	display: flex;
	justify-content: center;
}
.App .container {
	/* border: 1px solid #dedede; */
	padding: 12px;
	box-shadow: 0 0 4px 4px #461d89;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	justify-items: center;
	align-items: stretch;
	gap: 1rem;
	margin: 0 auto;
	width: 100%;
	height: 600px;
	perspective: 100%;
	max-width: 720px;
}

/* card */
.card {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	box-shadow: 2px 2px 4px 4px #dedede;
	transition: 0.3s;
	transform-style: preserve-3d;
	position: relative;
	cursor: pointer;
}
.card img {
	width: 95%;
	height: 95%;
	object-fit: contain;
}
.card .card-face {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}
.card .card-face.card-back-face {
	transform: rotateY(180deg);
}
.card.is-flipped {
	transform: rotateY(180deg);
}
.card.is-inactive {
	transform: rotateY(180deg);
}
